<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>578429098383-td0t3c6teqek8k9aebfkgkpao5vcfjul.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.578429098383-td0t3c6teqek8k9aebfkgkpao5vcfjul</string>
	<key>API_KEY</key>
	<string>AIzaSyAMF6qbx5Y5JhdeYra3jPSrGLBFD0qC8HE</string>
	<key>GCM_SENDER_ID</key>
	<string>16236960296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ProjectsMySelf.ChattingApp</string>
	<key>PROJECT_ID</key>
	<string>messenger-e8b3f</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-e8b3f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:16236960296:ios:5951c8f356effcd2e0f31d</string>
</dict>
</plist>
